<%= @property.id %>
<br>
<%= @property.name %>
<br>
<%= @property.address %>
<br>
<%= @property.rent %>
<br>
<%= @property.administrativeexpense %>
<br>
<%= @property.proposals.find_by(type:"Like",property_id: @property.id,user_id: current_user.id) %>
<% if @property.image.present? %>
    <%= image_tag(@property.image , alt: @property.name) %>
<% else %>
    <%= image_tag("no-image.png" , alt: @property.name) %>
<% end %>
<br>
以下にコメントの表示
<br>

<% if @property.proposals.find_by(type:"Like",property_id: @property.id,user_id: current_user.id) %>
    <%= @property.proposals.find_by(type:"Like",property_id: @property.id,user_id: current_user.id).comment %>
<% end %>


<div class = comment>
  <%= form_for @comment_new do |f| %>
      <p class="field form-group">
      <%= f.text_field :comment, class: "form-control" %>
      </p>
      <%= hidden_field params[:type] %>
      <%= hidden_field params[:id] %>
      <p>
      <%= f.submit "コメントする", class: "btn btn-primary" %>
      </p>
  <% end %>

</div>